* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  --color-primary: #00BFFF;

  --color-teamA: #00FFFF;
  --color-teamB: #FF4500;
  --color-background: #28282B;
  --color-backgroundHighlight: #222222;
  --color-success: #39FF14;
  --color-warning: #FFD700;
  --color-error: #FF6347;
  --color-foreground: #F0F8FF;
  --color-tileA: #00BFFF;
  --color-tileB: #FF6347;
  --color-tileWall: #36454F;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.full-height {
  height: 100vh;
  height: 100dvh;
}

.center {
  display: grid;
  place-items: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &.between {
    justify-content: space-between;
  }
}

h1 {
  margin-bottom: 20px;
}

#roomBox {
  margin-top: 20px;
}

.btn {
  padding: 5px 10px;
  background-color: var(--color-teamA);
  color: var(--color-backgroundHighlight);
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.secondary {
  background-color: var(--color-success);
}

.secondary:hover {
  opacity: 0.8;
}

.danger {
  background-color: var(--color-error);
}

.danger:hover {
  opacity: 0.8;
}

.dashboard {
  padding: 0.5rem;
  justify-content: space-between;
}

.game-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--color-foreground);
  padding: 0.5rem;
}

.chat-title {
  margin: 0;
  padding: 0;
}

.chat-box-container {
  flex: 1;
  position: relative;
}

.chat-box {
  position: absolute;
  inset: 0;
  overflow-y: auto;
}

.chat-message {
  margin: 0.5rem 0;
  gap: 0.5rem;

  &.error {
    color: var(--color-error);
  }

  &.success {
    color: var(--color-success);
  }

  &.info {
    color: var(--color-primary);
  }
}

.chat-sender {
  font-weight: bold;

  &:after {
    content: ': ';
  }
}

.chat-text {
  margin: 0;
  word-break: break-word;
}

.chat-send {
  display: flex;
  gap: 0.5rem;
}

.chat-send input {
  flex: 1;
  padding: 0.5rem;
}

canvas {
  border: 1px solid var(--color-foreground);
  width: 100%;
}